<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../static/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Dashboard - Analytics | First Hydrogen Daily Channel Data Visualization</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" />


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/boxicons.css')}}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <!-- Bootstrap multi channel dropdown -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/libs/apex-charts/apex-charts.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{{ url_for('static', filename='vendor/js/helpers.js') }}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js"></script>
    <!-- Bootstrap multi channel dropdown -->
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <!-- Bootstrap multi channel dropdown -->

        <script>
        $(document).ready(function () {
            $("#date").CreateMultiCheckBox({ width: '250px', defaultText : 'Select Below', height:'250px', name:'msbdate' });
        });
    </script>
    <style>
    .container {
  display: flex;
}
</style>

  </head>

  <body>
  
    <div class="container">

      <div class="side-container">
        <!-- First Dropdown -->
      
      <div class="mb-3" data-dropdown-type="channel">
    <label for="exampleFormControlSelect1" class="form-label">Select Channel</label>
    <!-- <div class="row d-flex justify-content-center mt-100"> -->
        <!-- <div class="col-md-6">  -->
          <select id="channel_selector" class="channel_selector" placeholder="Select upto 5 channels" multiple>
            {% for column in data %}
              <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        </div>


  <!-- Second Dropdown -->

  <div class="mb-3" data-dropdown-type="date">
    <label for="exampleFormControlSelect1" class="form-label">Select Date</label>
    <select class="form-select" id="date">
      {% for parquet_file in parquet_files %}
      <option value="{{ parquet_file }}">{{ parquet_file }}</option>
    {% endfor %}
</select>
  </div>

  <!-- Sampling rate text box -->
  <div class="mb-3">
    <div>
    <label for="defaultFormControlInput" class="form-label">Select Frequency:F</label>
    <input
                          type="text"
                          class="form-control"
                          id="samplingFrequencyInput"
                          placeholder="60"
                          aria-describedby="defaultFormControlHelp"
                          value="60"
                        />
      <div id="defaultFormControlHelp" class="form-text">
         One data point every F * 0.1 seconds.
      </div>
    </div>
  </div>


  <!-- Third Dropdown -->

  <div class="mb-3">
  <label for="exampleFormControlSelect1" class="form-label">Start Time</label>
  <select class="form-select" id="startTimeSelector" aria-label="Select Start Time" onfocus='this.size=10;'onblur='this.size=1;' onchange='this.size=1; this.blur();'>
  <option value="" selected disabled>Select Start Time</option>
    {%for time in timeslots %}
      <option value="{{ time }}">{{ time }}</option>
    {% endfor %}
  </select>
</div>

<!-- Fourth Dropdown -->

  <div class="mb-3">
    <label for="exampleFormControlSelect1" class="form-label">End Time</label>
    <select class="form-select" id="endTimeSelector" aria-label="Select End Time" onfocus='this.size=10;'onblur='this.size=1;' onchange='this.size=1; this.blur();'>
    <option value="" selected disabled>Select End Time</option>
    {%for time in timeslots %}
      <option value="{{ time }}">{{ time }}</option>
    {% endfor %}
  </select>
</div>
<!-- Add this button for updating and displaying statistics -->
<button id="updateGraphsButton">Update Graphs</button>
<!-- Add this button for going back to original graph-->
<button id="ResetTime">Reset Time</button>
</div>

<!-- Container to display statistics -->
<div id="statisticsContainer"></div>

<!-- Graph to display data -->

    <div id="chartContainer">
</div>
  </div>
</div>


        <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{{ url_for('static', filename='vendor/libs/apex-charts/apexcharts.js') }}"></script>

    <!-- Main JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Page JS -->
    <script src="{{ url_for('static', filename='js/dashboards-analytics.js') }}"></script>
    

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{{ url_for('static', filename='js/select-checkbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script> 

$(function() {

  // const msbChannel = document.getElementById("msbchannel");
  const msbChannel = document.getElementById("channel_selector");
  const msbDate = document.getElementById("msbdate");

  const msbFreq = document.getElementById("samplingFrequencyInput");

  const msbStartTime = document.getElementById("startTimeSelector");
  const msbEndTime = document.getElementById("endTimeSelector");


  msbChannel.addEventListener("change", triggerDataFetch);
  msbDate.addEventListener("change", triggerDataFetch);
  msbFreq.addEventListener("change", triggerDataFetch);

  function triggerDataFetch() {
  const samplingFreq = parseInt(msbFreq.value);
  const selectedChannels = []
  const selectedChannels_html = Array.from(document.querySelectorAll('#channel_selector')[0]);
  for (let i = 0; i < selectedChannels_html.length; i++) {
    selectedChannels.push(selectedChannels_html[i]['innerText']); 
  }
  console.log(selectedChannels);
  const selectedFiles = Array.from(msbDate.querySelectorAll('.MultiCheckBoxDetail .cont input:checked')).map(input => input.value);
  const numSelectedChannels = selectedChannels.length;
  const numSelectedFiles = selectedFiles.length;
  

  if (numSelectedChannels >= 1 && numSelectedFiles >= 1 && numSelectedChannels <= 5 && numSelectedFiles <= 5 && samplingFreq >= 1) {    
    fetchData(selectedChannels, selectedFiles, samplingFreq);
  } else {
    console.log("Invalid selection");
  }
}

  $("#updateGraphsButton").on("click", function () {
    updateGraphs(data); // Call the function to update graphs
  });

  $("#ResetTime").on("click", function () {
    $('#endTimeSelector option').prop('selected', function() {
        return this.defaultSelected;
    });
    $('#startTimeSelector option').prop('selected', function() {
        return this.defaultSelected;
    });

    let [channelDateDataMap, graphs] = separateData(data);
    displayData(channelDateDataMap, graphs); // Call the function to update graphs
  });

  });


  </script>
   
  </body>
</html>